{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="ctrlHolder{% if field.errors and form_show_errors %} error{% endif %}{% if field|is_checkbox %} checkbox{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if form_show_errors %}
            {% for error in field.errors %}
                <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="errorField">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}

        {% if field.label %}
            {% if field|is_checkbox %}
                {% crispy_field field %}
            {% endif %}

            <label for="{{ field.auto_id }}" {% if field.field.required %}class="requiredField"{% endif %}>
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

        {% if not field|is_checkbox %}
            {% crispy_field field %}
        {% endif %}

        {% if field.help_text %}
            <div id="hint_{{ field.auto_id }}" class="formHint">{{ field.help_text|safe }}</div>
        {% endif %}
    </div>
{% endif %}
