{% if form_tag %}<form {% if form_action %}action="{{ form_action }}" {% endif %}class="uniForm{% if form_class %} {{ form_class }}{% endif %}" method="{{ form_method }}"{% if form_id %} id="{{ form_id }}"{% endif %}{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% endif %}
    {% if form_method|lower == 'post' %}
        {% csrf_token %}
    {% endif %}

    {% include "uni_form/display_form.html" %}

    {% if inputs %}
        <div class="buttonHolder">
            {% for input in inputs %}
                {% include "uni_form/layout/baseinput.html" %}
            {% endfor %}
        </div>
    {% endif %}
{% if form_tag %}</form>{% endif %}
