#Eclipse's specific
.project
.pydevproject
.pydevproject.bak

#buildout's specific
.installed.cfg
eggs/*
bin/*
develop-eggs/*
parts/*
downloads/*

#egg's specific
*.egg-info

#defaults
*.pyc
*.pyo

#temp file
tempfile
