language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
env:
  - DJANGO=1.3.7
  - DJANGO=1.4.5
  - DJANGO=1.5.1
install:
  - pip install Django==$DJANGO
  - pip install "file://`pwd`#egg=django-crispy-forms[tests]"
  - pip install -e . --use-mirrors
script:
  - make test
notifications:
  email: false
matrix:
  exclude:
    - python: "3.3"
      env: DJANGO=1.4.5
    - python: "3.3"
      env: DJANGO=1.3.7
