include MANIFEST.in
include README.rst
include *.md
include *.txt
include *.yaml
include Makefile
include tox.ini
include .editorconfig

graft crispy_forms
graft docs
graft tests
graft requirements

prune docs/_build
global-exclude *.pyc
