include CONTRIBUTORS.txt
include LICENSE.txt
include MANIFEST.in
include README.rst
recursive-include crispy_forms/static *
recursive-include crispy_forms/templates *
recursive-include crispy_forms/tests *.py *.html
