<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
        <title>{% block head_title %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
        <style>
            {% include "uni-form.css" %}        
        </style>
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <p>
            <a href="{% url test_index %}">Basic test</a> | 
            <a href="{% url form_helper %}">Form Helper test</a> |
            <a href="{% url view_helper %}">View Helper test</a> |
            <a href="{% url layout_test %}">Layout test</a> |
            <a href="{% url set_action_test %}">Set action test</a>                        
        </p>        
        {% block body %}
        {% endblock %}
<script type="javascript">
    {% include "test_app/jquery.js" %}
</script>
<script type="javascript">
    {% include "uni-form.jquery.js" %}
</script>              
    </body>
</html>