{% load uni_form %}
	{% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div id="div_{{ field.auto_id }}" class="ctrlHolder{% if field.errors %} error{% endif %}">
			{% if field.label %}
                <label for="{{ field.auto_id }}">                    
                    {{ field.label }}{% if field.field.required %}*{% endif %}
                </label>
            {% endif %}			
            {{ field }}
	
            {% for error in field.errors %}
                <p id="error_{{ field.auto_id }}" class="errorField">
                    {{ error }}
                </p>       
            {% endfor %}
			
	    {% if field.help_text %}
                <p id="hint_{{ field.auto_id }}" class="formHint">{{ field.help_text|safe }}</p>
            {% endif %} 
        </div>
	{% endif %}
  
