{% load uni_form_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="ctrlHolder{% if field.errors %} error{% endif %}{% if field|is_checkbox %} checkbox{% endif %}{% if field.field.widget.attrs.class %} {{ field.field.widget.attrs.class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% for error in field.errors %}
            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="errorField">
                {{ error }}
            </p>
        {% endfor %}

        {% if field.label %}
            <label for="{{ field.auto_id }}" {% if field.field.required %}class="requiredField"{% endif %}>
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

        {{ field|with_class }}

        {% if field.help_text %}
            <div id="hint_{{ field.auto_id }}" class="formHint">{{ field.help_text|safe }}</div>
        {% endif %}
    </div>
{% endif %}
