{% load uni_form %}

<form action="" class="uniForm {{ form_class }}" method="post" id="{{ form_id|slugify }}">

    <fieldset class="inlineLabels">  
    <legend>* Required fields</legend> 
    {{ form|as_uni_form }}
    </fieldset>

    {% if inputs %}
        <div class="buttonHolder">
            {% for input in inputs %}
                <input type="{{ input.type }}"
                        name="{{ input.name|slugify }}"
                        value="{{ input.value }}"
                        {% ifnotequal input.type "hidden" %}
                            class="{{ input.type }}"
                            id="{{ input.type }}-id-{{ input.name|slugify }}"
                        {% endifnotequal %}
                        />
            {% endfor %}
        </div>    
    {% endif %}

</form>
