{% load uni_form_tags i18n %}

<form action="{{ form_action }}" class="uniForm {{ form_class }}" method="{{ form_method }}" id="{{ form_id|slugify }}" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
	{% if form_html %}{{ form_html }}{% else %}
    <fieldset class="inlineLabels">  
    <legend>* {% trans "Required fields" %}</legend> 
    	{{ form|as_uni_form }}
    </fieldset>
	{% endif %}
    {% if inputs %}
        <div class="buttonHolder">
            {% for input in inputs %}
                <input type="{{ input.input_type }}"
                        name="{{ input.name|slugify }}"
                        value="{{ input.value }}"
                        {% ifnotequal input.input_type "hidden" %}
                            class="{{ input.field_classes }}"
                            id="{{ input.input_type }}-id-{{ input.name|slugify }}"
                        {% endifnotequal %}
                        />
            {% endfor %}
        </div>    
    {% endif %}

</form>
