{# TODO: This template overrides crispy-bootstrap3 accordion-group template in some tests #}
{# TODO: It fix missing css_class issue and must be deleted then issue will be closed #}

<div class="panel panel-default{% if div.css_class %} {{ div.css_class }}{% endif %}">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{ div.data_parent }}" href="#{{ div.css_id }}">{{ div.name }}</a>
        </h4>
    </div>
    <div id="{{ div.css_id }}" class="panel-collapse collapse{% if div.active %} in{% endif %}" >
        <div class="panel-body">
            {{ fields }}
        </div>
    </div>
</div>
